<h1>
  <%= @user.name %></h1>
<%= @resume.inspect %>


<%# @resume.each do |resume| %>
      <% #if resume.user == @user %>
      <%# resume.id %>

        <%#link_to "Edit", edit_resume_path(resume.id) %> 
         <%# link_to "delete", resume, method: :delete, data: { confirm: "you sure?" } %>
        <% #elsif current_admin == @admin %>
        <%# link_to "Edit", edit_resume_path(resume.id) %> 
         <%# link_to "delete", resume, method: :delete, data: { confirm: "you sure?" } %>
     <% #end %>
 <% #end %>
 
