<h1>
    <hr >
  <%= @client.compname %></h1>
  <% @current_client.inspect %>
  <%= session[:id] %>


 <p>新規登録はこちら <%= link_to "原稿登録!", new_campaign_path %></p>
  <% if @client.campaigns.any? %>
   <%= render @campaigns %>
  <% end %>
本来的にここに載せるもの

承認待ち案件　｜　編集　｜削除


