@import "bootstrap-sprockets";
@import "bootstrap";

/*　layout.cssで記述してよいこと Layoutのみ
/*  body wrap Header,footer,side,breadcrum,
/*  
/*
-------------------------------------------------- */
/* font styles
-------------------------------------------------- */
/*
html,
body {
font-family: 'Helvetica Neue', Helvetica, 'Arial', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
white-space: normal;
}*/
/*　もともとBase
-------------------------------------------------- */
* {
padding : 0px;
margin : 0px;
}
html {overflow: auto;}

/*body{background-color:#fcfcfc;font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;} */
/*body{background-color:#dddddd;font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;}*/
body{background-color: #f5f5f5;font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;}
body { padding-top: 50px; }
/* Wrapper for page content to push down footer */



html,body{
     height:100%;
}
#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}



h1 { 
        line-height: 1.8;
}
h2 { 
    line-height: 1.8;}
    
h3{ 
    line-height: 1.8;}
    
h4 { 
    line-height: 1.8;
}    
    
    
    
p { font-size: 1em;
    line-height:2;}


ul {
list-style-type: none;
}

ol {
list-style-type: none;
}


.title{
   /* font-weight: bold; */
    display: block;
    line-height: 1.3;
   border-bottom:solid 3px #eee;
}

.section{
display: block;
 line-height: 1.3; 
    border-bottom:solid 1px #eee;
}

.label > a{
    color:#fff;
}


/* SNSbox */



.snsb {
	overflow: hidden;
}

.snsb li {
	float: left;

}


/*　もともとBaseここまで
-------------------------------------------------- */


/* Sticky footer styles
-------------------------------------------------- */






/* Layout CSS
--------------------------------------------------


Padding指定サンプル
padding: 2px; … ［上下左右］ を指定
padding: 2px 4px; … ［上下］ と ［左右］ を指定
padding: 2px 4px 6px; … ［上］ と ［左右］ と ［下］ を指定
padding: 2px 4px 6px 8px; … ［上］ と ［右］ と ［下］ と ［左］ を指定


containerの横幅が全体的に大きすぎるので縮小しています. 


グリッドシステムの基本構造は次のようになります。

containerまたはcontainer-fluidでグリッドを囲むと15px余白をつくる。
行を作成する要素（divなど）にrowクラスを適用すると-15px余白をつくりcontainerの余白と相殺されて結局余白は０になる。
カラムを作成する要素（divなど）にcol-xs-N(xsの他にxs,sm,md,lgがある)クラスを適用する

containerまたはcontainer-fluidで左右のmarginを15pxとり、rowで左右のmarginを-15pxする。

.containerについて

.containerは固定幅のコンテナを作ります。
けれども、固定幅とはいえレスポンシブに対応していますので、ポイントになるwindowサイズでカラムの幅が変更されます。
つまり、windowのポイントに従って、750pxや970pxや1170pxで固定されます。

*/

#wrap > .container {
  padding: 5px 15px;　

.container .credit {
  margin: 20px 0;
}
}


.leftcol{
  background-color:#ffffff;
  border: 1px solid #dddddd ;
}

.centercol{
  background-color:#ffffff;
  border: 1px solid #dddddd ;
}

.rightcol{
  background-color:#ffffff;
  border: 1px solid #dddddd ;
}

code {
  font-size: 80%;
}


#wrap > .container-fluid {
margin-right: auto;
margin-left: auto;
max-width: 1130px; 
}

/* Custom page CSS
-------------------------------------------------- */

.jumbotron {
  /*    background:#ddd;
      background-position: center center;*/
      background-size: cover;
      height:0px;
      margin-bottom:5px;
    }
/*    
    header > .container {
      margin-top: 13%;
    }
    
    header > .midashi-btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0;
    }
    
    header > .midashi-btn:hover {
      color: #0089ff;
      border-color: #0089ff;
    }
    
    .navbar-form {
      padding-right: 30px;
    }
*/

/* breadcrumb
-------------------------------------------------- */

.breadcrumb{
  margin-top:5px;
 
}
/*
.page-hader{
  marginが大きすぎる為基本的に使わない
}*/



.pagination-centered{text-align:center;}



/* footer CSS
-------------------------------------------------- */
/* Set the fixed height of the footer here */
#footer {
height: 200px;
background-color: #f5f5f5;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}


/* ------------------------------------------------------------------
data-select
------------------------------------------------------------------ */

select.date-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* ------------------------------------------------------------------
form
------------------------------------------------------------------ */
.maz{color:#5c5c5c;line-height: 1.7em;font-weight: bold;margin-bottom:15px;font-size: 100%;}
.formTBox{width:200px;}
.formBox .col-sm-3{padding-left:15px;padding-right:0px;}
.hsni{float:right;}
.formBox{padding:10px 15px 15px 15px;}
.fbox{margin-bottom:6px;padding-bottom:5px;border-bottom:1px solid #eee;}
.fT{color:#000000;font-size: 88%;font-weight: normal;font-family:"Times New Roman", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;}
.fS{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;padding:0px;}
.fS01{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;padding:0px;}
.fS02{color:#595757;font-size: 86%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:3px;padding:0px;}
.fS03{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;margin-left:15px;padding:0px;}
.fS04{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;padding:0px;}
.fmb10{margin-bottom:0px;}

.f_skill01{margin-bottom:5px;margin-top:10px;font-size: 90%;font-weight: normal;color:#888888;}
.f_skill02{margin-bottom:5px;margin-top:5px;font-size: 90%;font-weight: normal;color:#888888;}
.file01{color:#b76b55;font-size: 90%; margin-top:10px;}
.file02{color:#595757;font-size: 90%; margin-top:2px;line-height: 1.6em;}
.file03{color:#595757;font-size: 74%; margin-top:2px;margin-bottom:6px;}
.file04{color:#595757;font-size: 80%; margin-top:2px;margin-bottom:10px;}
.gbg{background-color:#eee;padding:3px 15px 5px 15px;}
.obg{background-color:#ffe6c8;padding:15px 15px 8px 15px;}
.obg01{background-color:#fff0dc;padding:15px 15px 8px 15px;}
@media only screen and (max-width: 539px){
.hsni{float:none;}
.formBox{padding:30px 0px 10px 0px;}
.fbox{margin-bottom:5px;padding-bottom:15px;border-bottom:1px solid #eee;}
.fS{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:2px;padding:0px 15px;}
.fS02{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;padding:0px 15px;}
.fS03{color:#595757;font-size: 96%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:10px;margin-left:15px;padding:0px;}
.fS04{color:#595757;font-size: 90%;font-weight: normal;font-family:"Times New Roman", "貂ｸ譏取悃", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;margin-top:5px;padding:0px 0px;}
.fmb10{margin-bottom:10px;}
.f_skill01{margin-bottom:5px;margin-top:15px;font-size: 90%;font-weight: normal;color:#888888;}
.f_skill02{margin-bottom:5px;margin-top:7px;font-size: 90%;font-weight: normal;color:#888888;}
.file03{color:#595757;font-size: 86%; margin-top:6px;margin-bottom:10px;}
.file04{color:#595757;font-size: 88%; margin-top:6px;margin-bottom:20px;}
}


.form-control{height:28px;font-size: 88%;;padding: 5px 3px;}
.form-control::-moz-placeholder{color:#b4b4b4;opacity:1;font-size: 92%}
.form-control:-ms-input-placeholder{color:#b4b4b4;font-size: 92%;}
.form-control::-webkit-input-placeholder{color:#b4b4b4;font-size: 92%;}
.form-inline-block{display:inline-block;}
.form-width{width:auto;}
.form-inline-block{display:inline-block;}
.form-width{width:auto;}
.form-width110{width:110px;}