<% unless user_logged_in? %>
aaaa
<% else %>

<div class="container-fluid">
    <!-- Begin page content -->

<div class="row">
<div class="col-md-9 col-xs-12 leftcol"><!-- right -->
  <div class="formBox"><!-- row -->

    <p class="maz">お客様の状況に応じて履歴書を更新して下さい。</p>
    <!-- <form class="form-horizontal autoConfirm" id="sendmail" method="POST" action="http://job-front.com/entry/confirm"> -->
    
    
    
    
<%= render 'form' %>

    
    <div class="col-sm-2">
     
    </div>

    <div class="col-sm-10">
    </div>

  </div><!-- /row -->
</div><!-- /left -->

<div class="col-md-3 border" id="rightCol">

  aa
  





</div><!-- /row -->
</div>
<% end %>