
</div> 
</div>
<div id="footer" class="footer" style="border:solid 1px #7fcfe2;">
    <div class="container">
      <div class="col-sm-6" style="border:solid 1px #7fcfe2;">


      </div>

    <div class="col-sm-6" style="border:solid 1px #7fcfe2;">
        <form accept-charset="UTF-8" action="/opinion_forms" method="post">
        <textarea id="_body" name="_body" placeholder="ご意見をお寄せ下さい" required="required"></textarea>
        <div class='submit'>
            <button class="btn-submit" data-loading-text="送信しています…" name="button" type="submit">送信</button>
        </div>
        </form>
    </div>

    <div class="col-sm-12" style="border:solid 1px #7fcfe2;">
      <a href="#">About us</a>
      <span>|</span>
      <a href="#">利用規約</a>
      <span>|</span>
      <a href="#">問い合わせ</a>
      <span>|</span>
      <a href="#">プライバシーポリシー</a>
      <span>|</span>
      <a href="#">サイトマップ</a>
      <span>|</span>
      <a href="#">よくある質問</a>
    </div>
    <div class="col-sm-12 footer-copyright">
      Copyright © easydrive Inc. All rights reserved.
    </div>
    </div>

</div>



</div>